a {
  cursor: pointer;
}
button.solved {
  background-color: green !important;
}
button.review {
  background-color: rgb(166, 217, 21) !important;
}
button.viewed {
  background-color: rgb(214, 24, 18) !important;
}
button.not_viewed {
  background-color: #fff !important;
}
