{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome</title>
        <script type="text/javascript"
          src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>
    </head>
    <body>
        <div class="container">
            <header>
                <nav>
                    <ul>
                        <li>Home</li>
                        <li>Questions</li>
                    </ul>
                </nav>
            </header>
        </div>
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
        <script src="{% static 'angular/angular.min.js' %}">

        </script>
    </body>
</html>
