{% load static %}
<!DOCTYPE html>
<html ng-app="Questions">
    <head>
        <meta charset="utf-8">
        <title>Welcome</title>
    </head>
    <body>
        <div class="container">
            <header>
                <nav>
                    <ul>
                        <li>Home</li>
                        <li>Questions</li>
                    </ul>
                </nav>
            </header>
        </div>
        <div class="container">
            {% block content %}
            <div class="row" ng-view>

            </div>
            {% endblock content %}
        </div>
        <script src="{% static 'lib/angular/angular.min.js' %}"></script>
        <script src="{% static 'lib/angular-route/angular-route.min.js' %}"></script>
        <script src="{% static 'lib/angular-ui/build/angular-ui.min.js' %}"></script>
        <script src="{% static 'lib/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
        <script src="{% static 'js/controllers.js' %}"></script>
        <script src="{% static 'js/services.js' %}"></script>
    </body>
</html>
