<div class="row">
    <div class="col-md-8">
        <div class="list-group">
            <p mathjax-bind="question.question_text" class="well">
            </p>
            <p ng-if="question.image">
              <img ng-src="{{ question.image }}" alt="" />
            </p>
            <ul class="question_choices">
                <li ng-repeat="choice in question.choices track by $index" ng-click="changeChoice($index)" ng-class="{'choice_selected': $index == question.user_selected}">
                    <span mathjax-bind="choice"></span>
                </li>
            </ul>
            <div class="question_actions">
              <button type="button" class="btn btn-primary" ng-click="saveSelection()">Save</button>
              <button type="button" class="btn btn-success" ng-click="saveForReview()">Review Later</button>
              <button type="button" class="btn btn-danger" ng-click="clearSelection()">Clear Selection</button>
            </div>
            <nav>
              <ul class="pager">
                <li class="previous" ng-class="{disabled: (questionId < 1)}"><a ng-click="previous()"><span aria-hidden="true">&larr;</span> Previous</a></li>
                <li class="next" ng-class="{disabled: (questionId >= questions.length-1)}"><a ng-click="next()">Next<span aria-hidden="true">&rarr;</span></a></li>
              </ul>
            </nav>
        </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-primary">
        <p class="countdown">{{ countdown }}</p>
      </div>
      <nav class="question_map">
          <ul class="pager">
            <li ng-repeat="question in questions track by $index">
              <button ng-click="skipTo($index)" class="btn {{ question.status }}">{{$index}}</button>
            </li>
          </ul>
    </nav>
    </div>
</div>
